[color]
  diff = auto
  ui = true
[alias]
  s = status
  co = checkout
  cod = checkout develop
  com = checkout master
  cm = commit -m
  po = push origin
  poh = push origin HEAD
  pfoh = push -f origin HEAD
  pp = pull --prune
  b = branch
  rh = reset --hard
  rs = reset --soft HEAD~1
  rc = rebase --continue
  md = merge develop
  bas = for-each-ref --format='%(authordate) %(refname)' --sort=-committerdate refs/heads refs/remotes
[user]
  name = kitajima
  email = email

#git管理しないファイルを指定するファイル
[core]
  excludesfile = ~/.gitignorep
	editor = vim
