[color]
  diff = auto
  ui = true
[alias]
  s = status
  co = checkout
  cod = checkout develop
  com = checkout master
  cm = commit -m
  po = push origin
  poh = push origin HEAD
  pfoh = push -f origin HEAD
  b = branch
  rh = reset --hard
  rs = reset --soft HEAD~1
  rc = rebase --continue
  md = merge develop
  dd = diff develop
  ddno = diff develop --name-only
  ddns = diff develop --name-status
  bas = for-each-ref --format='%(authordate) %(refname)' --sort=-committerdate refs/heads refs/remotes
[user]
  name = kitajima
  email = email

#git管理しないファイルを指定するファイル
[core]
  excludesfile = ~/.gitignorep
  editor = vim
[credential]
  helper = !aws --region us-east-1 --profile for_codecommit codecommit credential-helper $@
  UseHttpPath = true
[fetch]
  prune = true
[diff]
  tool = vimdiff
[difftool]
  prompt = true
[secrets]
  providers = git secrets --aws-provider
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
